.btn-primary {
    background-color: #548235;
    border-color: #548235;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #72b446;
    border-color: #72b446;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #548235;
    border-color: #548235;
}

.btn-primary:disabled {
    background-color: #548235;
    border-color: #548235;
}

.card {
    text-align: left;
}

a.card-link {
    color: #548235;
}

a.card-link:hover {
    color: #72b446;
}

.loading {
    width: 150px;
    height: 150px;
}

.spinner {
    width: 25px;
    height: 25px;
}
