#accordion {
    padding: 10px;
    text-align: left;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.spinner {
    width: 25px;
    height: 25px;
}

.btn-export {
    margin: 0 2px 15px;
}

.underline {
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
