#obis-search-nav {
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #428bca
}

a {
    color: #548235;
}

a:hover {
    color: #72b446;
}

.nav-link {
    color: #000;
}

.nav-pills .nav-link.active {
    background-color: #548235;
}

.nav-pills .show>.nav-link {
    background-color: #548235;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #548235;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #548235;
}

.tab-pane {
    text-align: center;
}

.centered {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.map {
    width: auto;
    padding: 0px;
}

.label {
    color: #548235;
}

.form-control {
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #548235;
    box-shadow: 0 0 0 0.2rem #548235;
}

#pagination {
    margin: 10px 0;
    text-align: left;
}

.btn-link {
    color: #548235;
}

.btn-link:hover {
    color: #72b446;
}

.btn-success {
    background-color: #548235;
    border-color: #548235;
    color: #fff;
}

.btn-success:hover {
    background-color: #72b446;
    border-color: #72b446;
    color: #fff;
}

.btn-success:active {
    background-color: #548235;
    border-color: #548235;
    color: #fff;
}

.page-item.active .page-link {
    background-color: #548235;
    border-color: #548235;
}

.page-link {
    color: #548235;
}

.page-link:hover {
    color: #fff;
    background-color: #72b446;
    border-color: #72b446;
}

.btn-primary {
    background-color: #548235;
    border-color: #548235;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #72b446;
    border-color: #72b446;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #548235;
    border-color: #548235;
}

.btn-primary:disabled {
    background-color: #548235;
    border-color: #548235;
}

@media (max-width: 1150px) {
    .centered {
        width: 75%;
    }
}
