@import url('https://js.arcgis.com/4.11/esri/css/main.css');

html, body, #viewDiv-map {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.esri-view:fullscreen {
    background-color: #fff;
}
